{% extends 'base.html.twig' %}

{% block body %}

<h1> Bienvenue dans ce blog </h1>



<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, quibusdam voluptatem temporibus ratione laudantium alias, et voluptates labore odio beatae itaque atque praesentium! Doloremque ratione nobis consectetur necessitatibus voluptates atque laudantium eveniet temporibus iusto iure? Placeat itaque ratione ab. Officia eligendi neque impedit ut repellat, nisi esse voluptas sequi. Consequuntur laboriosam optio facere hic ad cum reprehenderit enim quam culpa. Quo ad temporibus fuga aut, harum expedita molestiae maiores veritatis, quibusdam amet laudantium id excepturi eveniet quam nam autem soluta corrupti voluptate in officia esse doloribus qui nisi. Optio dolorum repudiandae aut ullam sequi beatae fuga hic neque eum alias corporis, vero nam assumenda distinctio, nisi, qui quibusdam dolore provident eligendi est recusandae. Cum eos corrupti asperiores excepturi nesciunt quisquam totam? Perspiciatis fuga, recusandae accusantium temporibus quia nihil, voluptatibus officia esse sunt corporis ratione quaerat in pariatur ipsam, explicabo officiis suscipit iure mollitia nulla quis vel odit alias. Ad officiis quo nostrum! Cumque, nisi officia fugiat doloribus, pariatur nemo molestias in corrupti culpa architecto assumenda velit molestiae libero esse obcaecati unde id at debitis voluptatum. Iste odio molestias, sequi et optio voluptatum unde voluptate ducimus tempore quia! Quae velit asperiores provident, temporibus quibusdam hic esse ipsam quia ipsa sit inventore iure ducimus, et, ad ab incidunt ut. Ullam porro voluptatibus provident facilis illum debitis minima! Culpa esse deserunt architecto eveniet beatae? Debitis ea nobis sequi maiores, voluptate modi ipsam veniam repellendus eveniet, recusandae mollitia animi deleniti qui tempore temporibus fugiat quis placeat excepturi enim molestiae asperiores voluptatum? Nisi, porro fugit. </p>

{% endblock %}